<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
    <meta charset="utf-8" />
    <script src="/cdn/libraries/jquery.js"></script>
    <script src="/cdn/scripts/todo/index.js"></script>
</head>
<body>
<h1>Stuff I need to do:</h1>
<ol id="todolist">
    <!--the stuff-->
</ol>
Add a new todo:
<input type = "text" id = "newTodoInput"></input>
<button type="button" id="addTodoButton">Add</button>
<button type="button" id="helloButton">Press the button!</button>
<!-- Our JavaScript code for this page-->
<link rel="stylesheet" href="/cdn/css/main.css">
</body>
</html>
